/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1 {
	font-weight: inherit;
	font-size: inherit;
	overflow-wrap: break-word;
}

:root {
	--Orange-500: hsl(25, 97%, 53%);
	
	--Grey-500: hsl(217, 12%, 63%);
	--Grey-900: hsl(213, 19%, 18%);
	--Grey-950: hsl(216, 12%, 8%);
	--White: hsl(0, 0%, 100%);
}